/* Globales_______________ */
* {
  margin         : 0px;
  padding        : 0px;
  box-sizing     : border-box;
  text-decoration: none;
  list-style     : none;
}

body {
  font-family: 'Raleway', sans-serif;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 34px;

}

h3 {
  font-size: 30px;

}

h4 {
  font-size: 26px;

}

.FontWeight {
  font-weight: bold;
}

.app {
  height: auto;
}

input[type='text'] {
  width           : 100%;
  outline         : 0;
  border          : 0 !important;
  background      : none;
  color           : #d4e6f4;
  font-size       : 15px;
}

.text_box {
  width        : 100%;
  overflow     : hidden;
  font-size    : 15px;
  border-bottom: solid 1px #d4e6f4;
}

button {
  outline      : 0;
  border       : 0;
  background   : #d4e6f4;
  padding      : 6px;
  cursor       : pointer;
  border-radius: 2px;
}

select {
  box-shadow        : none;
  background        : none;
  background        : #1b1717d4;
  background-image  : none;
  outline           : 0;
  border            : 0 !important;
  cursor            : pointer;
  -webkit-appearance: none;
  -moz-appearance   : none;
  -ms-appearance    : none;
  appearance        : none;
  flex              : 1;
  padding           : 2px;
  border            : solid 1px;
  border-radius     : 1px;
  transition: all 0.5s ease;
}


select::-ms-expand {
  display: none;
}

.select {
  background-color: #1b1717;
  position        : relative;
  display         : flex;
  width           : 214px;
  height          : 33px;
  border-radius   : 3px;
}

.select::after {
  content            : '\25BC';
  color              : #d4e6f4;
  position           : absolute;
  top                : 5px;
  right              : 4px;
  padding            : 3px 3px;
  pointer-events     : none;
  transition         : all 0.25s ease;
}

.Order_SideBar {
  display: flex;
  margin-right: 4px;
  position        : relative;
  width           : 100px;
}
.Order_SideBar::after {
  content            : '\25BC';
  color              : #d4e6f4;
  position           : absolute;
  top                : 5px;
  right              : 4px;
  padding            : 3px 3px;
  pointer-events     : none;
  transition         : all 0.25s ease;
}