* {
  margin         : 0px;
  padding        : 0px;
  box-sizing     : border-box;
  text-decoration: none;
  list-style     : none;
}

body {
  font-family: 'Raleway', sans-serif;
}

.app {
  /* background: #0000009c; */
  position  : absolute;
  top       : 0;
  bottom    : 0;
  left      : 0;
  right     : 0;
}