.loader-content {
    position       : absolute;
    width          : 100vw;
    height         : 100vh;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.lds-ring {
    width: 70px;
    height: 70px;
    display         : flex;
    justify-content : center;
    align-items     : center;
    position        : absolute;
    border          : 8px solid #d4e6f4;
    border-top: 8px solid #1B1717; 
    border-radius   : 50%;
    animation: loading 1.5s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}