.Flex_home {
    display         : flex;
    background-color: #d4e6f4;
    min-height      : 106vh;
}

.Flex_basis_sideBar {
    flex-basis: 20%;
    min-height: 100%;
}

.Flex_home svg {
    width      : 35px;
    line-height: 10px;
    cursor     : pointer;
    margin     : 12px;
    color      : #1b1717;
    transition: all 0.5s ease;
    padding: 5px;
}




.Flex_home svg:hover {
    background-color: #1b1717;
    color: #d4e6f4;
}

.Flex_basis_sideBar div {
    min-height: 15%;
}


@media (max-width: 600px) {
    .Flex_home {
        justify-content: flex-end;
    }

    .Flex_home .svg {
        position: fixed;
        top: 0;
        right: -10px;
        z-index: 10;
    }
    .Flex_home .svg button {
        background-color: transparent;
    }

    .Flex_home svg {
        color: #d4e6f4;
    }
}